@media only screen and (min-width: 993px) {
.features{
    width: 100%;
    background-color: #F1F6FF;
    margin-top: 705px;
.container{
    
    .feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 47px 0 47px 0;
        .feature-item{
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0.2px;
    border-radius: 10px;
    background-color: #142c54;
    flex: 1;
    min-height: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
        }
    }
}
}
}

@media only screen and (min-width: 355px) and (max-width:992px) {
    .features{
        background-color: #F1F6FF;
        .container{
            width: 100%;
            .feature{
                
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                padding: 25px 0 25px 0;
                .feature-item{
                    width: 100%;
                    font-size: 16px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;
                    letter-spacing: 0.16px;
                    line-height: 20px;
                    background-color: #142c54;
                    color: white;
                    min-height: 90px;
                    min-width: 336px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    gap: 15px;
                }
            }
        }
    }
}


