@font-face{
	font-family: 'Baskerviile';
	src: url(/fonts/fonts/Baskerville/Baskerville-01.ttf);
}
@font-face{
	font-family: 'Baskerviile-Italic';
	src: url(/fonts/fonts/Baskerville/Baskerville-BoldItalic-04.ttf);
	font-weight: bold;
}
@font-face{
	font-family: 'Baskerviile-Semi';
	src: url(/fonts/fonts/Baskerville/Baskerville-SemiBold-05.ttf);
	
}
@font-face{
	font-family: 'Georgia';
	src: url(/Example/fonts/fonts/Georgia.woff);
	
}