@media only screen and (min-width: 993px) {
	.images-mobile{
		display: none;
	}
}

@media only screen and (min-width: 355px) and (max-width:992px){
	.images-mobile{
		background-image: url('/Example/Images/Image375.png');
		background-size: cover;
		background-repeat: no-repeat;
		.container{
			width: max-content;
			height: 350px;
			
		}
	}
}
